/* fonts */
@font-face {
    font-family: 'Quicksand';
    src: url('/Quicksand-Light.woff2') format('woff2'),
        url('/Quicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }



  .modalProfile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
    color: red;
    padding: 1rem;
    border-radius: 5px;
    font-weight: bold;
  }
  
  /* Hide the modal initially */
